{% extends 'base.html.twig' %}

{% block title %}Confirmación de Pedido{% endblock %}

{% block body %}
    <div class="container">
        <h1>Pedido enviado con éxito</h1>
        <p>Gracias por realizar tu pedido con nosotros. Tu pedido ha sido enviado con éxito.</p>
    </div>
{% endblock %}